USE [master]
GO
/****** Object:  Database [BankingDb]    Script Date: 7/29/2018 8:05:26 PM ******/
CREATE DATABASE [BankingDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankingDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BankingDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'BankingDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BankingDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankingDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankingDb]
GO
/****** Object:  Table [dbo].[users1]    Script Date: 7/29/2018 8:05:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users1](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[accountType] [int] NOT NULL,
	[balance] [int] NOT NULL,
 CONSTRAINT [PK_users1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
